#bar_chart {
	left: 100px;
	right: 100px;
	*height: 1000px;
	width: 800px;*
}

#choropleth_map {
	left: 100px;
	right: 100px;
	*height: 1000px;
	width: 800px;*
}

.container{
    display: flex;
}
.choropleth_map{
    width: 200px;
}
.bar_chart{
    flex-grow: 1;
}


body{
    font-family: 'Source Sans Pro', sans-serif;
}
